
*{
	margin: 0%;
	padding: 0%;
}
.title{
	font-size: 18px;
	font-weight: 600;
	position: absolute;
	padding: 10px 10px;
	bottom: 0px;
	word-wrap: break-word;
	background-color:rgba(37, 37, 37, 0.699);
	width: 100%;
}
.container-movies{
	margin-top: 3em;
	display: grid;
	width: 100%;
	grid-gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(300px, 0.1fr));
	height: 100%;
	justify-content: center;
	padding-bottom: 5em;
	background-color: rgb(30, 30, 37);
}
.movie{
	background-color: rgb(48, 44, 44);
	padding: 1px;
	position: relative;
	margin-top:2em;
	border-radius: 10px;
	width: 250px;
	height: 305px;
	overflow: hidden;
	color: white;
	transition: height 0.5s
}

.movie *{
	display: flex;
	justify-content: center;

}
.movie> p{
	/* padding: 10px; */
	text-align: center;
	background-color: rgb(7, 7, 7)
}

.overview{
	position: fixed;
	display: flex;
	background-color: rgb(255, 255, 255);
	justify-self: center;
	top:25vh;
	padding: 1em;
	height: 50vh;
	width: 50vw;
	z-index: 10;
	flex-direction: column;
}
.modal-close{
	position: relative;
	padding-bottom: 10px;
	display: flex;
	width: 15px;
	height: 15px;
	left: 96%;
	cursor: pointer;
}
.modal-information *{
	padding: 5px;
}
.container-img{
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 310px;
    z-index: 2;
	display: flex;
	flex-direction: column;
	background-color: rgb(27, 27, 27);
	/* width: 240px;
	height: 260px; */
}
.img{
	width: 260px;
	height: 290px;
}