
.title{
	font-size: 30px;
}
.container-movies{
	margin-top: 3em;
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(300px, 0.1fr));
	height: 100vh;
	
}
.movie{
	background-color: black;
	padding: 15px;
	position: relative;
	margin-top:2em;
	border-radius: 10px;
	width: 250px;
	height: 70vh;
	overflow: hidden;
	color: white;
	
}
/* .movie:hover{

} */
.overview{
	height: 100px;
}
.img{
	width: 240px;
	height: 260px;
}