
.title{
	font-size: 30px;
}
.container-movies{
	margin-top: 3em;
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(300px, 0.1fr));
	height: 100vh;
	justify-content: center;

}
.movie{
	background-color: black;
	padding: 10px;
	position: relative;
	margin-top:2em;
	border-radius: 10px;
	width: 250px;
	height: 400px;
	overflow: hidden;
	color: white;
	transition: height 0.5s;
}
.movie *{
	display: flex;
	justify-content: center;
	
}
.movie>p{
	text-align: center;
}
.movie:hover{
height: 650px;
}
.overview{
	padding-top: 1em;
	height: 100px;
}
.container-img{
	background-color: rgb(32, 31, 31);
	width: 250px;
	height: 260px;

}
.img{
	width: 240px;
	height: 260px;
}